
.wrap{
    background-color: aqua;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 8px 0 0;
}

.text{
    font-size: 22px;
    font-weight: 600;
    color: #7c7b7b;
}